*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
Calculator.apk
Calculator_Installable.apk
app/Calculator.apk
app/Calculator_Installable.apk
.build-outputs/
app/build/
gradle/test/screenshots/.gitignore
